
:root{
    --clr-green: 147, 50%, 47%;
}
.forecast-icon{
    width: 40px;
}
.forecast{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    background: hsl(var(--clr-green) , .8);
}

.forecast-day{
    border-right: 1px solid #fff;
    padding: .25em 1em 0 0;
    margin: 1em .2em;
    text-transform: capitalize;
    text-align: center;
}